body{
	background-color: white;
	color:red ;
	
	background-size: 800px 600px;
    background-repeat: no-repeat;
}
#masthead {
	background: #fff;
	margin: 0 0 30px;
	z-index: 99;
	color: #fff;
	overflow: auto;
	border-bottom: 2px solid #ccc;
	position: fixed;
	width: 50%;
}
nav a {
	color: red;
	text-decoration: none;
	margin-left: 15px;
	display: inline-block;
	border-left: 1px solid #efefef;
	padding-left: 15px;
	line-height: 18px;
	float: right;
	background: blue;

}

ol h1{
	
	margin-left: 50px;

}